
<h1 mat-dialog-title>الاعلان</h1>

<br>
<!-- <select  style="width: 12.4rem; height: 2.1rem;" class="from-control" [(ngModel)]="dataModel.AdsType" (ngModelChange)="onSelectType($event)">
     
  <option *ngFor="let Type of ListType" [value]="Type.id">{{Type.text}}</option>
</select > -->
<br>
<div mat-dialog-content>
  <input hidden='hidden' matInput [(ngModel)]="dataModel.AdsId">
  <!-- <p>What's your favorite color?</p> -->
  <label >النص</label>
  <br>
   
   
  <mat-form-field>
 
    <input  matInput [(ngModel)]="dataModel.AdsText">
  </mat-form-field>
 <br>
 <label >اسم الاعلان</label>
 <br>
  
  
 <mat-form-field>

   <input  matInput [(ngModel)]="dataModel.AdsName">
 </mat-form-field>
<!-- 
<div>
  <label>المدينة</label>
  <br>
  <select  style="width: 12.4rem; height: 2.1rem;" class="from-control" [(ngModel)]="dataModel.CityId" (ngModelChange)="onSelectCity($event)">
     
    <option *ngFor="let Type of ListCity" [value]="Type.CityId">{{Type.CityName}}</option>
  </select >
</div>
<div>
  <label [hidden]="!(dataModel.flag!=0)">الصنف</label>
  <br>
  <select  style="width: 12.4rem; height: 2.1rem;"  [hidden]="!(dataModel.flag!=0)" class="from-control" [(ngModel)]="dataModel.CategoryId" (ngModelChange)="onSelectCategroy($event)">
     
    <option *ngFor="let Type of ListCategroy" [value]="Type.CategoryId">{{Type.CategoryName}}</option>
  </select >
</div> -->
<div>
  <label [hidden]="!(dataModel.flag!=0)">الاعلان</label>
<br>
  <select [hidden]="!(dataModel.flag!=0)"  style="width: 12.4rem; height: 2.1rem;" class="from-control" [(ngModel)]="dataModel.MarketId" (ngModelChange)="onSelectMarket($event)">
     
    <option *ngFor="let Type of ListMarket" [value]="Type.MarketId">{{Type.MarketName}}</option>
  </select >
</div>
<div class="form-row position-relative mt-6">
  <div class="form-group col-md-6">
      <mat-form-field appearance="outline" class="w-100">
          <input matInput [matDatepicker]="picker1" placeholder="من تاريخ"
            
              [(ngModel)]="dataModel.StartDate">
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>
  </div>
  <div class="form-group col-md-6">
      <mat-form-field  appearance="outline" class="w-100">
          <input matInput [matDatepicker]="picker2" placeholder="الي تاريخ"
            
              [(ngModel)]="dataModel.EndDate">
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>
  </div>
</div> 
</div>
<div mat-dialog-actions>
  <button [hidden]="(dataModel.flag==0)" mat-button (click)="Close()">{{'Close'|translate}}</button>
  <button [hidden]="(dataModel.flag==0)" mat-button (click)="Save()" cdkFocusInitial>{{'Save'|translate}}</button>
  <button [hidden]="!(dataModel.flag==0)" mat-button (click)="CloseUpdate()">رفض</button>
  <button [hidden]="!(dataModel.flag==0)" mat-button (click)="SaveUpdate()" cdkFocusInitial>موافق</button>
</div>