<mat-tab-group>
  
    <mat-tab label="المدن">
       <app-advertisementdetailcity></app-advertisementdetailcity>
      </mat-tab>
      <mat-tab label="الاصناف">
        <app-advertisementdetailcategory></app-advertisementdetailcategory>
       </mat-tab>
       <mat-tab label="الصور">
        <app-advertisementdetailattach></app-advertisementdetailattach>
       </mat-tab>
       <mat-tab label="الفيديو">
        <app-advertisementdetailattachvedio></app-advertisementdetailattachvedio>
       </mat-tab>
      

  </mat-tab-group>