<h1 mat-dialog-title>المدن</h1>
<div mat-dialog-content>
  <!-- <p>What's your favorite color?</p> -->
  
    <input hidden='hidden' matInput [(ngModel)]="dataModel.CityId">
  
  <mat-form-field>
    <label>المدينة</label>
    <br>
    <input matInput [(ngModel)]="dataModel.CityName">
  </mat-form-field>
  
   
    <select  style="width: 12.4rem; height: 2.1rem;" class="from-control" [(ngModel)]="dataModel.CountryId" (ngModelChange)="onSelectCountry($event)">
     
      <option *ngFor="let Country of ListCountry" [value]="Country.CountryId">{{Country.CountryName}}</option>
   </select >
  
  
</div>
<div mat-dialog-actions>
  <button mat-button (click)="Close()">{{'Close'|translate}}</button>
  <button mat-button (click)="Save()" cdkFocusInitial>{{'Save'|translate}}</button>
</div>